.click-mod-wrapper{
    position: absolute;
    top:0;
    left:0;
    background-color: #1B1B1B;
    overflow-y: auto;
    min-height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.click-mod-wrapper .back-svg{
    position: absolute;
    top:0;
    left:50%;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
}

.exit{
    position: absolute;
    color: white;
    top:30px;
    left: 30px;
}

.exit:hover{
    cursor: pointer;
}

.title-wrap .num{
    font-size: 4rem;
    width: fit-content;
}

.title-wrap .num::after{
    content:"";
    display: block;
    height: 5px;
    width: 90%;
    background-color: #B9DDF1;
}
.title-wrap h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    font-size: 3.5rem;
    color:white;
}
.title-wrap h1::after{
    content:"";
    display: block;
    height: 5px;
    width: 90%;
    background-color: #F0717B;
}
.content-wrap {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
    height: 80%;
    width:fit-content;
}

.carousel-img-wrap{
    margin: auto;
    object-fit: contain;
    height: 250px;
    width: 320px;
}

.description-wrap {
    font-weight: 500;
    min-width: 30ch;
    max-width: 60ch;
    color:white;
    font-family: 'Open Sans', sans-serif;
    padding:15px;
    border-radius: 5px;
    flex:1;
}
.content-wrap::after{
    content:"";
    display: block;
    position: absolute;
    bottom: 0;
    left:15px;
    height: 5px;
    width: 90%;
    background-color: #B9E871;
}

.link-wrap{
    overflow: visible;
    margin: 20px;
}

.click-mod-wrapper a{
    display: inline-block;
    background-color: #B9E871;
    padding: 15px 48px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all ease .2s;
    overflow: visible;
}

.click-mod-wrapper a:hover{
    transform: scale(1.1);
}
.click-mod-wrapper a:active{
    transform: scale(1);
}


@media only screen and (max-width: 550px) {

}