.carousel-wrap img{
    object-fit: contain;
    position: absolute;
    top:0;
    left:0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.carousel-wrap .imgLeft, .carousel-wrap .imgRight {
    position: absolute;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 100%;
    z-index: 20;
    height: 40px;
    width: 40px;
    top:50%;
}

.imgLeft:hover, .imgRight:hover{
    cursor: pointer;
}

.imgLeft {
    left:10px;
}
.imgRight{
    right:10px;
}
.carousel-wrap{
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
}