*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.app-wrap{
    height: 100vh;
    width: 100vw;
    background-color: #1B1B1B;
    overflow-y: auto;
    max-width: 100%;
}

.header {
    margin: auto;
    flex-wrap: wrap;
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 87vw;
    align-items: center;
}

.wide-svg-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
}

.narrow-svg-wrap{
    width: 100vw;
}

.narrow-svg-wrap svg{
    display: block;
    margin: auto;
    width: 75%;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 398px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}

svg{
    overflow: visible
}

.nameBox {
    top:5%;
    left:5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.nameBox h1{
    font-size: 3rem;
    font-weight: 500;
    border-bottom: 2px solid #F07178;
}

.nameBox h3{
    font-size: 2rem;
    font-weight: 400;
}

.legend {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.legend h3{
    font-weight: 300;
    letter-spacing: 1px;
}

.legBox{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    height: 30px;
}

.colorBox {
    height: 80%;
    width: 40px;
    margin-right: 10px;
}

.red {
    background-color: #f07178;
}
.green {
    background-color: #b9e871;
}
.blue{
    background-color: #89ddf1;
}

.circle{
    transition:r .3s ease;
}

.wide-svg-wrap .circle:hover {
    r:25;
    cursor: pointer; 
}

.narrow-svg-wrap .circle:hover{
    r:21;
    cursor: pointer;
}

.circle:active {
    r:16;
}

.glass{
    background: rgba(255, 255, 255, 0.623);
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 10.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.absolute-center{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width: 550px) {
    .app-wrap{
        width: 100vw;
        overflow-x: hidden;
    }


    .header{
        margin-top: 10px;
    }
    .header h1{
        font-size: 2.2rem;
    }
    .header h3{
        font-size: 1.5rem;
    }
    .colorBox{
        margin: 0px;
    }
    .legend h3{
        font-size: 1.2rem;
    }
    .nameBox{
        width: 100vw;
        text-align: center;
        margin-bottom: 10px;
    }

    .legend{
        width: 100vw;
        height: auto;
        flex-direction: row;
    }
    
    .legBox{
        flex-direction: column;
        height: 40px;
    }
}