@keyframes expandIn {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}


.skills-wrap{
    color: white;
    max-width: 100vw;
    padding:30px;
}

.skills-wrap svg {
    width: 65px;
    height: 65px;
}

.skill-item{
    text-align: center;
    padding:15px;
}

.skills-box{
    margin-top: 30px;
}

.skills-wrap h1{
    text-align: center;
    font-size: 2.8rem;
}
.language-box ,.lib-box, .other-box{
    display: inline-flex;
    justify-content: center;
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgba(122, 122, 122, 0.6);
    margin-bottom: 20px;
    width: 75vw;
    max-width: max-content;
    min-width: fit-content;
    flex-wrap: wrap;
}

.language-box{
    position: relative;

}
.lib-box{
    position: relative;
}
.other-box{
    position: relative;
}

.language-box::after,.lib-box::after,.other-box::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: 0;
    left:0;
    animation: expandIn 1.7s ease;
    transform-origin: left;
    animation-fill-mode: both;
}

.language-box::after{
    background-color: #f07178;
    animation-delay: .5s;

}
.lib-box::after{
    background-color: #b9e871;
    animation-delay: 1s;
}
.other-box::after{
    background-color: #89ddf1;
    animation-delay: 1.5s;
}

@media only screen and (max-width: 550px) {
    body{
        font-size: 16px;
    }
    .skills-wrap h1{
        font-size: 1.6rem;
    }
    h3{
        font-size: .8rem;
    }
    .skill-item{
        text-align: center;
        padding:15px;
    }
    .skill-item svg{
        text-align: center;
        width: 45px;
        height: 45px;
    }
    .language-box ,.lib-box, .other-box{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 10px;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .skills-wrap{
        color: white;
        padding:15px;
    }
    
    .skills-box{
        margin-top: 15px;
    }
}