.tech-wrap{
    text-align: center;
    color:white;
}

.tech-wrap h3{
    font-weight: 500;
    font-size: 1.5rem;
}

.logo-wrap {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tech-item {
    margin:10px;
    width: 110px;
    font-weight: 300;
    font-size: 1.2rem;
    transition: all ease .3s;
    font-family: 'Open Sans', sans-serif;
}

.tech-item:hover{
    transform: scale(1.3);
}
.tech-wrap svg {
    height:60px;
    width: 60px;
}

@media only screen and (max-width: 550px){
    .logo-wrap{
        margin-top: 25px;
        width: 90%;
        margin: auto;
    }
    .tech-item svg{
        height: 45px;
        width: 45px;
    }
    .tech-wrap h3{
        font-weight: 600;
        font-size: 1.8rem;
        margin-bottom: 40px;
    }
    .tech-item {
        margin: 0px;
        margin-bottom: 20px;
    }
}