.tech-wrap{
    text-align: center;
}

.logo-wrap {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.tech-item {
    margin:10px;
    width: 90px;
    transition: all ease .3s;
}
.tech-item:hover{
    transform: scale(1.3);
}
.tech-wrap svg {
    height:60px;
    width: 60px;
}